body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: sans-serif;
}

body {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1d1e2e;
}

.menu {
    display: flex;

}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/* -----------CSS FLEXBOX 1------------- */

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

/* -----------CSS GRID 1------------- */

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*ou repeat(3, 1fr);*/
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    grid-gap: 20px;
}

.grid1 > div:nth-child(n + 4){ /*a partir do quarto item aplica esse estilo */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
}

@media (max-width: 600px) {
    .grid1 {
        grid-template-columns: 1fr, 1fr;
    }

    .grid1 > div:nth-child(n + 4){ /*a partir do quarto item aplica esse estilo */
        display: block;
    }

    .grid > div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}