*{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

h2 {
    text-align: center;
    margin: 20px 0 0 0;
}

.item {
    margin: 5px;
    text-align: center;
    background-color: darksalmon;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-item-1 {
    flex: 1;
    flex-wrap: wrap;
}